# Example .env file for Strelka UI.
# See the README for more details on custom configuration options via environment variables.

# Strelka connection information (OPTIONAL / HAS DEFAULTS).
export STRELKA_HOST=localhost
export STRELKA_PORT=8443

# /certs is mapped in the docker compose file to the certs directory at the root of this project
# This should be an absolute file path
# export STRELKA_CERT=/certs/strelka_cert.crt

# Database configuration (REQUIRED / HAS DEFAULTS FOR LOCAL COMPOSE CLUSTER ONLY).
export DATABASE_USERNAME=postgres
export DATABASE_PASSWORD=postgres
export DATABASE_HOST=postgresdb
export DATABASE_PORT=5432
export DATABASE_DBNAME=strelka_ui

# Root Certificates
# /certs is mapped in the docker compose file to the certs directory at the root of this project
# export CA_CERT_PATH=/certs/some-ca-bundle.crt
# export REQUESTS_CA_BUNDLE=/certs/some-ca-bundle.crt

# VirusTotal Support
export VIRUSTOTAL_API_KEY=
export VIRUSTOTAL_API_LIMIT=30

# Default Submission Exclusions
export DEFAULT_EXCLUDED_SUBMITTERS=["ExcludeUser"]

# use mounted /certs directory for internal CA bundle
# for docker-compose, this is mapped to the certs directory at the root of this project
REQUESTS_CA_BUNDLE=/certs/some-internal-ca-bundle.crt
