# Strelka connection information (OPTIONAL / HAS DEFAULTS).
export STRELKA_HOST=strelka_frontend_1
export STRELKA_PORT=57314
export STRELKA_CERT=

# Fully qualified postgres db url (with protocol, user, pass, host and db)  (OPTIONAL / HAS DEFAULTS).
export DATABASE_URL=

# Folder where the build react app is served from  (OPTIONAL / HAS DEFAULTS).
# Requires the front end to be built (i.e. from /ui, run `npm run build`)
export STATIC_ASSET_FOLDER=./react-app/

# Folder where the alembic migrations live  (OPTIONAL / HAS DEFAULTS).
export MIGRATION_DIRECTORY=migrations

# Database configuration (REQUIRED / HAS DEFAULTS FOR LOCAL COMPOSE CLUSTER ONLY).
export DATABASE_USERNAME=postgres 
export DATABASE_PASSWORD=postgres 
export DATABASE_HOST=postgresdb
export DATABASE_PORT=5432
export DATABASE_DBNAME=strelka_ui

# Root Certificates
# /certs is mapped in the docker compose file to the certs directory at the root of this project
export CA_CERT_PATH=
# export REQUESTS_CA_BUNDLE=

# VirusTotal Support
export VIRUSTOTAL_API_KEY=
export VIRUSTOTAL_API_LIMIT=

# Default Submission Exclusions
export DEFAULT_EXCLUDED_SUBMITTERS=["ExcludeUser"]

# S3 Configuration for File Resubmission
export ENABLE_FILE_RESUBMISSION=false
export S3_BUCKET_NAME=
export S3_REGION=us-east-1
export S3_ACCESS_KEY_ID=
export S3_SECRET_ACCESS_KEY=
# make sure S3_FILE_RETENTION_DAYS value matches the bucket policy
export S3_FILE_RETENTION_DAYS=7
export S3_ENDPOINT_URL=
# boto3 >=1.36.0 enables checksum validation by default, but this feature supported by some self-hosted solutions.
# To disable this feature, set the following environment variables:
export AWS_REQUEST_CHECKSUM_CALCULATION=when_required
export AWS_RESPONSE_CHECKSUM_VALIDATION=when_required
