# Strelka connection information (OPTIONAL / HAS DEFAULTS).
export STRELKA_HOST=strelka_frontend_1
export STRELKA_PORT=57314
export STRELKA_CERT=

# Fully qualified postgres db url (with protocol, user, pass, host and db)  (OPTIONAL / HAS DEFAULTS).
export DATABASE_URL=

# Folder where the build react app is served from  (OPTIONAL / HAS DEFAULTS).
# Requires the front end to be built (i.e. from /ui, run `npm run build`)
export STATIC_ASSET_FOLDER=./react-app/

# Folder where the alembic migrations live  (OPTIONAL / HAS DEFAULTS).
export MIGRATION_DIRECTORY=migrations

# Database configuration (REQUIRED / HAS DEFAULTS FOR LOCAL COMPOSE CLUSTER ONLY).
export DATABASE_USERNAME=postgres 
export DATABASE_PASSWORD=postgres 
export DATABASE_HOST=postgresdb
export DATABASE_PORT=5432
export DATABASE_DBNAME=strelka_ui

# Root Certificates
export CA_CERT_PATH=

# VirusTotal Support
export VIRUSTOTAL_API_KEY=
export VIRUSTOTAL_API_LIMIT=

# Default Submission Exclusions
export DEFAULT_EXCLUDED_SUBMITTERS=["ExcludeUser"]
