# Project requirements file
# Python 3.8+

# Web Framework
Flask>=2.2,<3.0
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-Expects-Json==1.7.0
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Paste==3.5.2

# Database
Alembic==1.6.2
SQLAlchemy==1.4.15
SQLAlchemy-JSON==0.4.0
Psycopg2-Binary==2.9.4

# Remote Procedure Call
grpcio==1.41.0
grpcio-tools==1.41.0

# Security
Cryptography==41.0.0
PyJWT==2.4.0
PyOpenSSL==20.0.1

# Tools
Click==8.0.0
Isort==5.10.1
Mypy-Extensions==0.4.3
Pylint==2.12.2
Pylint-Flask==0.6
Pylint-Flask-SQLAlchemy==0.2.0
Pylint-Plugin-Utils==0.7
Python-Dotenv==0.17.1
Waitress==2.1.2

# Other
Astroid==2.9.2
Attrs==21.4.0
Black==21.12b0
Certifi==2022.12.7
Cffi==1.14.5
Chardet==4.0.0
Jsonschema==4.3.3
Lazy-Object-Proxy==1.7.1
Ldap3==2.9.1
Mako==1.2.2
MarkupSafe>=2.0.0
Mccabe==0.6.1
Pathspec==0.9.0
Platformdirs==2.4.1
Protobuf==3.18.3
Pyasn1==0.4.8
Pycparser==2.20
Pyrsistent==0.18.0
Python-Dateutil==2.8.1
Requests==2.31.0
Six==1.16.0
Toml==0.10.2
Tomli==1.2.3
Typing-Extensions==4.0.1
Urllib3==1.26.7
Wrapt==1.13.3
