.tlsh-overview-card {
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 8px;
}

.score-value {
  font-size: 1.5em;
  font-weight: bold;
}

.card-header {
  align-items: center;
  margin-bottom: 10px;
}

.card-header > :not(:last-child) {
  margin-right: 8px;
}

.slider-boxes {
  display: flex;
  height: 20px;
  margin-top: 10px;
  position: relative;
}

.slider-box {
  flex-grow: 1;
  margin: 0 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.score-value {
  font-size: 1.5em;
  font-weight: bold;
}

.score-heading {
  display: block;
}

/* If the score is 0, the first box should be red */
.slider-box.first-box {
  background-color: "#ff4d4f";
  /* Use the red color from antdColors */
  animation: pulseGlow 2s infinite;
}

/* Style for the box that contains the score */
.slider-box.score-box {
  animation: pulseGlow 2s infinite;
}

/* Keyframes for the pulsing glow effect */
@keyframes pulseGlow {
  0%,
  100% {
    box-shadow: 0 0 8px var(--box-glow-color);
  }

  50% {
    box-shadow: 0 0 15px var(--box-glow-color);
  }
}

.score-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  font-weight: 800;
  word-break: keep-all;
}

.tick-text {
  position: absolute;
  bottom: -40px;
  width: 120px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  word-break: keep-all;
}

.score-markers {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: -20px;
}

.score-marker {
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

.label-text {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.active-marker:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
}
